<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:>
<head>
    <meta charset="UTF-8">
    <title>MyCB: Players</title>
</head>
<body>
<a href="/">Home</a>
<form action="#" th:action="@{/games}" th:object="${gamesScreen}" method="post">
    <table>
        <tr>
            <td>Search by:</td>
            <td>
                <select th:field="*{type}">
                    <option th:value="home_team" th:text="HomeTeam"></option>
                    <option th:value="away_team" th:text="AwayTeam"></option>
                    <option th:value="date" th:text="Date"></option>
                </select>
            </td>
            <td>Search for:</td>
            <td><input type="text" th:field="*{search}" /></td>
            <td>Order by:</td>
            <td>
                <select th:field="*{order}">
                    <option th:value="desc" th:text="Descending"></option>
                    <option th:value="asc" th:text="Ascending"></option>
                </select>
            </td>
            <td>Show:</td>
            <td>
                <select th:field="*{limit}">
                    <option th:value="10" th:text="10"></option>
                    <option th:value="50" th:text="50"></option>
                    <option th:value="100" th:text="100"></option>
                    <option th:value="500" th:text="500"></option>
                    <option th:value="1000" th:text="1000"></option>
                    <option th:value="5000" th:text="5000"></option>
                </select>
            </td>
            <td><button type="submit">GO!</button></td>
        </tr>
    </table>
</form>
<hr>
<table>
    <tr>
        <td>Id</td>
        <td>Home team</td>
        <td>Away Team</td>
        <td>Home Score</td>
        <td>Away Score</td>
        <td>Date</td>
        <td>Winner</td>
        <td>Loser</td>
    </tr>
    <tr th:each="r : ${results}">
        <td th:text="${r.id}"></td>
        <td th:text="${r.home_team}"></td>
        <td th:text="${r.away_team"></td>
        <td th:text="${r.home_score}"></td>
        <td th:text="${r.away_score}"></td>
        <td th:text="${r.date}"></td>
        <td th:text="${r.winner}"></td>
        <td th:text="${r.loser}"></td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <a th:href="${prev?.link}", th:text="${prev?.text}"></a>
        </td>
        <td>
            <a th:href="${next?.link}", th:text="${next?.text}"></a>
        </td>
    </tr>
</table>
<a th:text="${feedback?.text}"></a>
<hr>
</body>
</html>