<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:>
<head>
    <meta charset="UTF-8">
    <title>MyCB: Modify Coaches</title>
</head>
<body>
<a href="/modify">Back</a>
<form action="#" th:action="@{/modify/coach}" th:object="${modifyCoachForm}" method="post">
    <table>
        <tr>
            <td>Edit Mode:</td>
            <td>
                <select th:field="*{type}">
                    <option th:value="insert" th:text="Insert"></option>
                    <option th:value="update" th:text="Update"></option>
                    <option th:value="delete" th:text="Delete"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Coach Id:</td>
            <td><input type="text" th:field="*{coachId}" /></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><button type="submit">GO!</button></td>
        </tr>
    </table>
</form>
<hr>
</body>
</html>